    <div class="row">
      <div class="six columns hide-for-small" id='mommy'>
        <img id="logo" src="/imgs/Mommy Silhouette.svg" alt="Chá do meu bebê!" />
      </div>
      <div class="six columns">
        <div id="intro-box" class="intro-box-for-small">
          <p>
          Futuros mamães e papais,<br/>
          <strong>em breve</strong> <br />
          uma novidade para primeira festinha do seu <strong>bebê</strong>.
          </p>
        </div>
        <div id="let-me-know-box">
          <p>Quer saber mais? Quando fica pronto?</p>
          <% if flash[:success] %>
            <div class="alert-box success">
              <%= flash[:success] %>
            </div>
          <% end %>
          <%= form_for @subscriber, url: '/' do |f| %>
            <%= f.label :email, "Deixe seu email que a gente te informa" %>
            <%= f.text_field :email %>
            <% if @subscriber.errors.any? %>
              <% @subscriber.errors.full_messages.each do |message| %>
                <small class='error'><%= message %></small>
              <% end %>
            <% end %>
            <%= f.submit "Quero saber mais", class: "call-to-action button" %>
          <% end %>
        </div>
      </div>
    </div>
