    <div class="row">
      <div class="six columns hide-for-small" id='mommy'>
        <img id="logo" src="/imgs/Mommy Silhouette.svg" alt="Chá do meu bebê!" />
      </div>
      <div class="six columns">
        <div id="intro-box" class="intro-box-for-small">
          <h1>Precisa de <em>convites</em> pro seu
chá de bebê <em>de graça</em>?</h1>
          <p>
          Seu <em>bebê</em> está chegando? Nós podemos te ajudar a espalhar a notícia! <strong>Em breve</strong>, você poderá <em>criar seu convite</em> personalizado aqui no 'Chá do meu bebê', e <strong>grátis</strong>!
          </p>
        </div>
        <div id="let-me-know-box">
          <p>Quer saber mais? Quando fica pronto?</p>
          <% if flash[:success] %>
            <div class="alert-box success">
              <%= flash[:success] %>
            </div>
          <% end %>
          <%= form_for @subscriber, url: '/' do |f| %>
            <%= f.label :email, "Deixe seu email que a gente te informa" %>
            <%= f.text_field :email %>
            <% if @subscriber.errors.any? %>
              <% @subscriber.errors.full_messages.each do |message| %>
                <small class='error'><%= message %></small>
              <% end %>
            <% end %>
            <%= f.submit "Quero saber mais", class: "call-to-action button" %>
          <% end %>
        </div>
      </div>
    </div>
